fastapi
uvicorn
rapidfuzz
google-generativeai
celery
redis
httpx
aiosmtplib
langgraph
sqlalchemy
pgvector
asyncpg
magika
pymupdf
pillow
python-ulid
pydantic-settings
alembic
deepface
mediapipe
opencv-python
numpy
tf-keras
tensorflow-cpu
pytesseract
python-multipart
minio
google-generativeai
google-genai
